# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
client = MongoClient('localhost:27017')

In [5]:
client.list_database_names()
db = client.get_database("ironhack")

In [7]:
db.list_collection_names()

['companies', 'ie']

In [12]:
com = db.get_collection('companies')
com

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [24]:
# Your Code
namebabel = {'name': 'Babelgum'}
proyname = {'name':1, '_id':0}
babelgum = list(com.find(namebabel,proyname))
babelgum

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [28]:
# Your Code
morecincomil = {'number_of_employees':{'$gt':5000}}
compcincomil = list(com.find(morecincomil).sort('number_of_employees',1).limit(20))
#compcincomil

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [39]:
# Your Code
more2000 = {'founded_year':{'$gte':2000}}
less5000= {'founded_year':{'$lte':2005}}
proynameyear = {'name':1, 'founded_year':1, '_id':0}
twotofive = list(com.find({'$and':[more2000,less5000]}, proynameyear).limit(6))
twotofive

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [48]:
# Your Code
valover100 = {'ipo.valuation_amount':{'$gt':100000000}}
fundbef10 = {'founded_year':{'$lt':2010}}
proynameipo = {'name':1, 'ipo':1, '_id':0}
val = list(com.find({'$and':[valover100,fundbef10]},proynameipo).limit(2))
val

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [58]:
# Your Code
foundbef05 = {'founded_year':{'$lt':2005}}
less1000emp = {'number_of_employees':{'$lt':1000}}
mily2005 = list(com.find({'$and':[foundbef05,less1000emp]}).sort('number_of_employees',1).limit(10))
#mily2005

### 6. All the companies that don't include the `partners` field.

In [59]:
# Your Code
partnoesta = list(com.find({'partners':{'$exists':False}}))
partnoesta

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [64]:
# Your Code
catnull = {'category_code':{'$type':'null'}}
nullscat = list(com.find(catnull))
#nullscat

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [72]:
# Your Code
less1000emp = {'number_of_employees':{'$lt':1000}}
mt100emp = {'number_of_employees':{'$gte':100}}
onlynamenumemp = {'name':1, 'number_of_employees':1}
bet100and1000 = list(com.find({'$and':[less1000emp, mt100emp]}, onlynamenumemp))
#bet100and1000

### 9. Order all the companies by their IPO price in a descending order.

In [82]:
# Your Code
ipoorder = list(com.find().sort('ipo.valuation_amount',-1))
#ipoorder

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [85]:
# Your Code
top10emp = list(com.find().sort('number_of_employees',-1).limit(10))
#top10emp

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [89]:
# Your Code
com.find_one()
foundsecsem = list(com.find({'founded_month':{'$gt':6}}).limit(1000))
#foundsecsem

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [96]:
# Your Code
foundbef00 = {'founded_year':{'$lt':2000}}
acqover10k = {'acquisition.price_amount':{'$gt':10000000}}
combef00over10k = list(com.find({'$and':[foundbef00, acqover10k]}))
#combef00over10k

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [102]:
# Your Code
acqafter10 = {'acquisition.acquired_year':{'$gt':2010}}
onlynameacq = {'name':1, 'acquisition':1, '_id':0}
acqaf10 = list(com.find(acqafter10, onlynameacq).sort('acquisition.price_amount', -1))
#acqaf10

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [110]:
# Your Code
onlynamefyear = {'name':1, 'founded_year':1, '_id':0}
compfyear = list(com.find({},onlynamefyear).sort('founded_year', -1))
#compfyear

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [113]:
# Your Code
sevdays = {'founded_day':{'$lte':7}}
comsevdays = list(com.find(sevdays).sort('acquisition.price_amount', -1).limit(10))
#comsevdays

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [119]:
# Your Code
webcat = {'category_code':'web'}
over4k = {'number_of_employees':{'$gte':4000}}
web4k = list(com.find({'$and':[webcat, over4k]}).sort('number_of_employees',1))
#web4k

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [122]:
acqover10k = {'acquisition.price_amount':{'$gt':10000000}}
acqeur = {'acquisition.price_currency_code':'EUR'}
acq10keur = list(com.find({'$and':[acqover10k,acqeur]}))
#acq10keur

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [125]:
# Your Code
acq1tri = {'acquisition.acquired_month':{'$lte':3}}
onlynameacq = {'name':1, 'acquisition':1, '_id':0}
comacq1tri = list(com.find(acq1tri,onlynameacq).limit(10))
#comacq1tri

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [126]:
# Your Code
foundaf00 = {'founded_year':{'$gte':2000}}
foundbef10 = {'founded_year':{'$lte':2010}}
acqaf11 = {'acquisition.acquired_year':{'$gt':2011}}
companies = list(com.find({'$and':[foundaf00, foundbef10,acqaf11]}))
#companies

### 20. All the companies that have been 'deadpooled' after the third year.

In [140]:
# Your Code
after3year = list(com.find({'deadpooled_year':{'$gt':3}}))

resta = {'deadpooled_year'}-{'founded_year'}
after3year = list(com.find({{'deadpooled_year'}-{'founded_year'}:{'$gt':3}}))

TypeError: unhashable type: 'set'